* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  background-color: black;
  color: white;
}

.active-lap-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 30px;
  border-style: none;
  color: white;
  border: 1px solid black;
  background: rgba(156, 156, 156, 0.5);
  box-shadow: 0px 0px 0px 3px rgba(156, 156, 156, 0.5);
}

.inactive-lap-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 30px;
  border-style: none;
  color: white;
  border: 1px solid black;
  background: rgba(255, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 3px rgba(156, 156, 156, 0.5);
}

.displayed-time {
  font-size: 2cm;
  font-variant-numeric: tabular-nums;
}

.start-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 30px;
  border-style: none;
  background: rgba(0, 77, 0, 0.5);
  color: #16c94b;
  border: 1px solid black;
  box-shadow: 0px 0px 0px 3px rgba(0, 77, 0, 0.5);
}

.inactive-start-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 30px;
  border-style: none;
  background: rgba(0, 77, 0, 0.5);
  color: red;
  border: 1px solid black;
  box-shadow: 0px 0px 0px 3px rgba(0, 77, 0, 0.5);
}

.start-button {
  background: rgba(0, 77, 0, 0.5);
  color: #16c94b;
  border: 1px solid black;
  box-shadow: 0px 0px 0px 3px rgba(0, 77, 0, 0.5);
}
