* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

.active-lap-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 30px;
  border-style: none;
  color: white;
  font-weight: 300;
  border: 1px solid black;
  background: rgba(250, 250, 250, 0.2);
  box-shadow: 0px 0px 0px 3px rgba(250, 250, 250, 0.2);
}
.active-lap-button:hover {
  opacity: 0.5;
}
.inactive-lap-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 30px;
  font-weight: 300;
  border-style: none;
  color: rgba(250, 250, 250, 0.6);
  border: 1px solid black;
  background: rgba(250, 250, 250, 0.1);
  box-shadow: 0px 0px 0px 3px rgba(250, 250, 250, 0.1);
}

.displayed-time {
  font-size: 2cm;
  font-variant-numeric: tabular-nums;
  font-weight: 100;
}

.start-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 30px;
  border-style: none;
  background: rgba(0, 77, 0, 0.5);
  color: #16c94b;
  font-weight: 300;
  border: 1px solid black;
  box-shadow: 0px 0px 0px 3px rgba(0, 77, 0, 0.5);
}
.start-button:hover {
  opacity: 0.5;
}

.stop-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 30px;
  border-style: none;
  font-weight: 300;
  background: rgb(250, 0, 0, 0.2);
  color: rgb(255, 59, 48);
  border: 1px solid black;
  box-shadow: 0px 0px 0px 3px rgba(250, 0, 0, 0.2);
}

.stop-button:hover {
  opacity: 0.5;
}

.start-button {
  background: rgba(22, 71, 46, 0.5);
  color: rgb(52, 199, 89);
  font-weight: 400;
  border: 1px solid black;
  box-shadow: 0px 0px 0px 3px rgba(0, 77, 0, 0.5);
}

table .initial-table-data {
  padding: 20px 0px;
  height: 20px;
}

.table-of-laps {
  width: 100%;
  font-size: 16px;
}

.laps-section {
  margin-top: 40px;
  color: white;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  overflow-y: auto;
  max-height: 280px;
  display: block;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}

table {
  border-collapse: collapse;
}
table tr {
  border-top: 0.5px solid rgb(250, 250, 250, 0.2);
  border-bottom: 0.5px solid rgb(250, 250, 250, 0.2);
  font-variant-numeric: tabular-nums;
}

td:nth-child(1) {
  text-align: left;
  padding: 10px 0;
}
td:nth-child(2) {
  text-align: right;
}
.container {
  width: 390px;
  height: 844px;
  text-align: center;
  background: black;
}
.timer-section {
  padding-top: 120px;
  font-size: 5em;
  color: white;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  font-variant-numeric: tabular-nums;
}
.buttons-section {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.middle-dot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.middle-dot {
  margin-top: 30px;
  border: none;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  padding: 4px;
}

.inactive-middle-dot {
  margin-top: 30px;
  border: none;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  padding: 4px;
  background-color: rgba(250, 250, 250, 0.3);
}
.fastest-lap td {
  color: rgb(52, 199, 89);
}
.slowest-lap td {
  color: rgb(255, 59, 48);
}

td {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
